.navbar {
    background-color: #202020;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Keeps the logo on top */
}

.navbar-toggler {
    position: absolute;
    right: 0.5rem; /* Place toggler at the far right */
    z-index: 1060;
}

.btn-download {
    background-image: linear-gradient(to right, yellow, orange);
    color: black;
    border: none;
    border-radius: 0; /* Makes the button square */
    padding: 8px 15px; /* Adjust padding to ensure the button appears square */
}

@media (max-width: 992px) {
    .navbar-brand {
        position: static;
        transform: none;
        margin: 0 auto; /* Center the logo in the navbar */
    }

    .navbar-toggler {
        position: absolute;
        right: 10px;
    }
}

@media (min-width: 993px) {
    .navbar-brand {
        position: static;
        left: 0;
        right: 0;
        transform: none;
    }
}